<template>
  <div>
    <input
      v-model="filtre"
      style="width: 100%"
      placeholder="Tag(s), ex: IoT, Chine, Huawei..."
    />
    <button @click="add()" style="display: block; margin: auto;">
      Ajouter un article
    </button>

    <articles
      v-for="article in filtarticles"
      :article="article"
      :key="article.key"
      class="article"
    />
  </div>
</template>

<script>
import axios from "axios";
import accents from "remove-accents";
import articles from "~/components/adminarticles.vue";

export default {
  layout: "admin",
  components: { articles },
  data() {
    return {
      articles: [],
      filtre: "",
      addurl: []
    };
  },
  computed: {
    arrfiltre() {
      if (this.filtre.length <= 0) {
        return [];
      } else {
        let array = this.filtre.split(",");
        for (let i = 0; i < array.length; i++)
          array[i] = accents.remove(array[i].trim());
        return array;
      }
    },
    filtarticles() {
      let resarray = this.articles;
      if (this.arrfiltre.length > 0 && this.arrfiltre[0] !== "") {
        this.arrfiltre.forEach(fifi => {
          if (fifi.trim() !== "") {
            resarray = resarray.filter(entry => {
              if (entry.tags.length === 0) {
                return true;
              } else if (typeof entry.key === "undefined") {
                return true;
              } else if (fifi.trim().slice(0, 1) === "!") {
                return !entry.tags.includes(fifi.trim().slice(1));
              } else return entry.tags.includes(fifi.trim());
            });
          }
        });
      }
      return resarray;
    }
  },
  mounted() {
    this.$bus.$on("delete", data => {
      let indextoremove = this.articles.indexOf(data);
      this.articles.splice(indextoremove, 1);
    });
    this.$bus.$on("urlcheck", data => {
      this.addurl.push(data.url);
      let result = this.articles.filter(element => element.url === data.url);
      if (result.length > 1) {
        this.$bus.$emit("alreadyused", { uid: data.uid, answer: true });
      } else {
        this.$bus.$emit("alreadyused", { uid: data.uid, answer: false });
      }
    });
  },
  async asyncData() {
    const { data } = await axios.get(`${process.env.DB_URL}/articles.json`);
    let arrdata = [];
    for (const key in data) {
      data[key].key = key;
      arrdata.push(data[key]);
    }
    return {
      articles: arrdata.reverse()
    };
  },
  methods: {
    add() {
      this.articles.unshift({});
    }
  }
};
</script>

<style scoped>
.article {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  box-shadow: 4px 4px 4px #c0c0c0;
  width: 80%;
  margin: 1rem auto;
}
</style>
