<template>
  <div class="container-facts">
    <facts v-for="fact in facts" :key="fact.key" :fact="fact"></facts>
  </div>
</template>

<script>
import facts from "~/components/facts.vue";
import axios from "axios";

export default {
  components: {
    facts
  },
  /*  data() {
    return {
      facts: []
    };
  }, */
  async asyncData() {
    const { data } = await axios.get(`${process.env.DB_URL}/intfacts.json`);
    let arrdata = [];
    for (const key in data) {
      data[key].key = key;
      arrdata.push(data[key]);
    }
    return {
      facts: arrdata.sort((a, b) => {
        return b.flag - a.flag;
      })
    };
  }
};
</script>

<style>
.container-facts {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
