<template>
  <div>
    <input v-model="filtre" style="width: 100%" />
    <button @click="add()" style="display: block; margin: auto;">
      Ajouter une joke
    </button>

    <jokes v-for="joke in filtjokes" :joke="joke" :key="joke.key"></jokes>
  </div>
</template>

<script>
import axios from "axios";
import accents from "remove-accents";
import jokes from "~/components/adminjokes.vue";

export default {
  layout: "admin",
  components: { jokes },
  data() {
    return {
      jokes: [],
      filtre: ""
    };
  },
  computed: {
    arrjoke() {
      if (this.filtre.length <= 0) {
        return [];
      } else {
        let array = this.filtre.split(",");
        for (let i = 0; i < array.length; i++)
          array[i] = accents.remove(array[i].trim());
        return array;
      }
    },
    filtjokes() {
      let resarray = this.jokes;
      if (this.arrjoke.length > 0 && this.arrjoke[0] !== "") {
        this.arrjoke.forEach(fifi => {
          if (fifi.trim() !== "") {
            resarray = resarray.filter(entry => {
              if (entry.tags.length === 0) {
                return true;
              } else if (typeof entry.key === "undefined") {
                return true;
              } else if (fifi.trim().slice(0, 1) === "!") {
                return !entry.tags.includes(fifi.trim().slice(1));
              } else return entry.tags.includes(fifi.trim());
            });
          }
        });
      }
      return resarray;
    }
  },
  mounted() {
    this.$bus.$on("delete", data => {
      let indextoremove = this.jokes.indexOf(data);
      this.jokes.splice(indextoremove, 1);
    });
  },
  methods: {
    add() {
      this.jokes.unshift({});
    }
  },
  async asyncData() {
    const { data } = await axios.get(`${process.env.DB_URL}/jokes.json`);
    let arrdata = [];
    for (const key in data) {
      data[key].key = key;
      arrdata.push(data[key]);
    }
    return {
      jokes: arrdata
    };
  }
};
</script>

<style scoped>
.article {
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
