<template>
  <div class="container-jokes">
    <nav class="tags">
      <header>
        <h2>Filtrer les jokes</h2>
      </header>
      <ul>
        <li style="margin-bottom: 2rem;">
          <input v-model="tags" placeholder="exemple,tag1,tag2" />
        </li>
      </ul>
    </nav>
    <section class="jokes">
      <header>
        <h2>Jokes</h2>
      </header>
      <ul class="dispjokess">
        <jokes v-for="joke in filtjokes" :key="joke.key" :joke="joke" />
      </ul>
    </section>
  </div>
</template>

<script>
import axios from "axios";
import accents from "remove-accents";
import jokes from "~/components/jokes.vue";

export default {
  components: {
    jokes
  },
  methods: {
    toggle(fifi) {
      this.tagmenu[fifi] = !this.tagmenu[fifi];
    }
  },
  data() {
    return {
      tags: "",
      tagmenu: { bimensuel: false, medium: false }
    };
  },
  computed: {
    arrfiltre() {
      const array = accents.remove(this.tags.toLowerCase()).split(",");
      if (this.tagmenu.bimensuel) array.unshift("bimensuel");
      if (this.tagmenu.medium) array.unshift("medium");
      return array;
    },
    filtjokes() {
      let resarray = this.jokes;
      if (this.arrfiltre.length > 0 && this.arrfiltre[0] !== "") {
        this.arrfiltre.forEach(fifi => {
          if (fifi.trim() !== "") {
            resarray = resarray.filter(entry => {
              if (entry.tags.length === 0) {
                return true;
              } else if (typeof entry.key === "undefined") {
                return true;
              } else if (fifi.trim().slice(0, 1) === "!") {
                return !entry.tags.includes(fifi.trim().slice(1));
              } else return entry.tags.includes(fifi.trim());
            });
          }
        });
      }
      return resarray;
    }
  },
  async asyncData() {
    const { data } = await axios.get(`${process.env.DB_URL}/jokes.json`);
    let arrdata = [];
    for (const key in data) {
      data[key].key = key;
      arrdata.push(data[key]);
    }
    return {
      jokes: arrdata
    };
  }
};
</script>

<style scoped>
h2 {
  padding: 1rem;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}
.dispjokess {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.btn-filtre {
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #f7f8fb;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.btn-filtre:hover {
  background-color: #7f828b;
}
.tags {
  text-align: left;
}
.jokes {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-jokes {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
</style>
