<template>
  <div>
    <button @click="add()" style="display: block; margin: auto;">
      Ajouter un fact
    </button>
    <facts v-for="fact in facts" :key="fact.key" :fact="fact" class="facts" />
  </div>
</template>

<script>
import axios from "axios";
import facts from "~/components/adminfacts";

export default {
  layout: "admin",
  components: { facts },
  data() {
    return {
      facts: []
    };
  },
  async asyncData() {
    const { data } = await axios.get(`${process.env.DB_URL}/intfacts.json`);
    let arrdata = [];
    for (const key in data) {
      data[key].key = key;
      arrdata.push(data[key]);
    }
    return {
      facts: arrdata.reverse()
    };
  },
  mounted() {
    this.$bus.$on("delete", data => {
      let indextoremove = this.facts.indexOf(data);
      this.facts.splice(indextoremove, 1);
    });
  },

  methods: {
    add() {
      this.facts.unshift({
        titre: "",
        auteur: "",
        contenu: "",
        date: new Date().toLocaleString("fr-FR", {
          day: "numeric",
          month: "numeric",
          year: "numeric"
        }),
        flag: "",
        horizon: "",
        resume: "",
        sources: []
      });
    }
  }
};
</script>

<style scoped>
div.facts {
  width: 80vw;
  margin: 1rem auto;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
