<template>
  <div v-if="user.loggedIn" class="dispfaqs">
    <label>
      <span class="label">Q :</span>
      <input v-model="faq.question" />
    </label>
    <label>
      <span class="label">A :</span>
      <input v-model="faq.answer" />
    </label>
    <label>
      <span class="label">Langue :</span>
      <select v-model="faq.lang" style="align-self: self-start">
        <option value="FR">FR</option>
        <option value="EN">EN</option>
        <option value="ES">ES</option>
        <option value="DE">DE</option>
        <option value="NL">NL</option>
        <option value="CN">CN</option>
      </select>
      <span style="flex-grow: 2"></span>
    </label>
    <label>
      <span class="label">Tags :</span>
      <input v-model="faq.tags" />
    </label>
    <div class="buttons">
      <button @click="asave">Enregistrer</button>
      <button @click="adelete">Supprimer</button>
    </div>

    <img :class="confirmsaved" src="~/static/doge.png" />
    <img :class="confirmdeleted" src="~/static/risitas.png" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  props: {
    faq: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      confirmsaved: "confirmsaved hidden",
      confirmdeleted: "confirmsaved hidden"
    };
  },
  computed: {
    ...mapGetters({
      user: "user"
    })
  },
  methods: {
    asave: function() {
      let reqAxios = {};
      let doc = { ...this.faq };
      if (typeof doc.key === "undefined") {
        reqAxios.method = "post";
        reqAxios.url = `${process.env.DB_URL}/faqs.json?auth=${this.user.data.token}
        }`;
      } else {
        delete doc.key;
        reqAxios.method = "patch";
        reqAxios.url = `${process.env.DB_URL}/faqs/${this.faq.key}.json?auth=${this.user.data.token}`;
      }

      if (typeof doc.tags === "string") doc.tags = doc.tags.split(",");
      for (let i = 0; i < doc.tags.length; i++)
        doc.tags[i] = doc.tags[i].trim();

      reqAxios.data = doc;

      axios(reqAxios)
        .then(response => {
          if (!this.faq.key) this.faq.key = response.data.name;
          this.confirmsaved = "confirmsaved";
        })
        .then(() => {
          setTimeout(() => (this.confirmsaved = "confirmsaved end"), 500);
        })
        .catch(error => console.log(error));
    },
    adelete() {
      let reqAxios = {};
      if (typeof this.faq.key === "undefined") {
        this.$bus.$emit("delete", this.faq);
      } else {
        reqAxios.method = "delete";
        reqAxios.url = `${process.env.DB_URL}/faqs/${this.faq.key}.json?auth=${this.user.data.token}
        }`;
        axios(reqAxios)
          .then(data => {
            this.$bus.$emit("delete", this.faq);
          })
          .catch(error => console.log(error));
      }
    }
  }
};
</script>

<style scoped>
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 1rem;
}
.dispfaqs {
  padding: 1rem;
}
label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.label {
  width: 6rem;
}
input {
  flex-grow: 2;
  border: 0;
  border-bottom: 1px solid #000;
}
.confirmsaved {
  position: absolute;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none;
}

.confirmsaved.end {
  transition: all 1s ease-in-out;
  box-shadow: none;
  border-radius: 0px;
  opacity: 0;
  visibility: hidden;
}
</style>
