<template>
  <div v-if="user.loggedIn" class="dispfacts">
    <label>
      <span class="label">Titre :</span>
      <input v-model="fact.titre" placeholder="Titre" />
    </label>
    <label>
      <span class="label">Auteur :</span>
      <input v-model="fact.auteur" placeholder="Auteur" />
    </label>
    <label>
      <span class="label">Flag :</span>
      <input v-model="fact.flag" placeholder="30 (max: 100)" />
    </label>
    <label>
      <span class="label">Date :</span>
      <input v-model="fact.date" placeholder="Date" />
    </label>
    <label>
      <span class="label">Horizon :</span>
      <input v-model="fact.horizon" placeholder="Horizon" />
    </label>
    <label>
      <span class="label">Résumé :</span>
      <textarea v-model="fact.resume" placeholder="Résumé"></textarea>
    </label>
    <fsources
      v-for="source in fact.sources"
      :source="source"
      :key="fact.key + fact.sources.indexOf(source)"
    />
    <div class="buttons">
      <button @click="addsource">Ajouter une source</button>
      <button @click="fsave()">Enregistrer</button>
      <button @click="fdelete()">Supprimer</button>
    </div>

    <img :class="confirmsaved" src="~/static/doge.png" />
    <img :class="confirmdeleted" src="~/static/risitas.png" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import fsources from "~/components/fsources";
import axios from "axios";

export default {
  props: {
    fact: {
      type: Object,
      required: true
    }
  },
  components: { fsources },
  data() {
    return {
      confirmsaved: "confirmsaved hidden",
      confirmdeleted: "confirmsaved hidden"
    };
  },
  computed: {
    ...mapGetters({
      user: "user"
    })
  },
  methods: {
    addsource() {
      this.fact.sources.push({
        url: "",
        description: ""
      });
    },
    fsave() {
      let reqAxios = {};
      let doc = { ...this.fact };
      if (typeof doc.key === "undefined") {
        reqAxios.method = "post";
        reqAxios.url = `${process.env.DB_URL}/intfacts.json?auth=${this.user.data.token}`;
      } else {
        delete doc.key;
        reqAxios.method = "patch";
        reqAxios.url = `${process.env.DB_URL}/intfacts/${this.fact.key}.json?auth=${this.user.data.token}`;
      }

      reqAxios.data = doc;

      axios(reqAxios)
        .then(response => {
          if (!this.fact.key) this.fact.key = response.data.name;
          this.confirmsaved = "confirmsaved";
        })
        .then(() => {
          setTimeout(() => (this.confirmsaved = "confirmsaved end"), 500);
        })
        .catch(error => console.log(error));
    },
    fdelete() {
      if (typeof this.fact.key === "undefined") {
        this.$bus.$emit("delete", this.fact);
      } else {
        let reqAxios = {};
        reqAxios.method = "delete";
        reqAxios.url = `${process.env.DB_URL}/intfacts/${this.fact.key}.json?auth=${this.user.data.token}`;
        axios(reqAxios)
          .then(data => {
            this.$bus.$emit("delete", this.fact);
          })
          .catch(error => console.log(error));
      }
    }
  }
};
</script>

<style scoped>
div.dispfacts {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  box-shadow: 4px 4px 4px #c0c0c0;
  margin-bottom: 1rem;
}
.label {
  width: 6rem;
}
label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
input,
textarea {
  flex-grow: 2;
  border: 0;
  border-bottom: 1px solid #000;
}
textarea,
button {
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 1rem;
}
.confirmsaved {
  position: absolute;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none;
}

.confirmsaved.end {
  transition: all 1s ease-in-out;
  box-shadow: none;
  border-radius: 0px;
  opacity: 0;
  visibility: hidden;
}
</style>
