<template>
  <div v-if="user.loggedIn" class="disparticles">
    <label>
      <span class="label">URL :</span>
      <input v-model="article.url" />
    </label>
    <p style="color: red;" v-if="alreadyused">Cette URL a déjà été ajoutée.</p>
    <label>
      <span class="label">Desc. :</span>
      <textarea v-model="article.description"></textarea>
    </label>
    <label>
      <span class="label">Langue :</span>
      <select v-model="article.lang" style="align-self: self-start">
        <option value="FR">FR</option>
        <option value="EN">EN</option>
        <option value="ES">ES</option>
        <option value="DE">DE</option>
        <option value="NL">NL</option>
        <option value="CN">CN</option>
      </select>
      <span style="flex-grow: 2"></span>
    </label>
    <label>
      <span class="label">Tags :</span>
      <input v-model="article.tags" />
    </label>
    <div class="buttons">
      <button @click="asave">Enregistrer</button>
      <button @click="adelete">Supprimer</button>
    </div>

    <img :class="confirmsaved" src="~/static/doge.png" />
    <img :class="confirmdeleted" src="~/static/risitas.png" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  props: {
    article: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      confirmsaved: "confirmsaved hidden",
      confirmdeleted: "confirmsaved hidden",
      alreadyused: false
    };
  },
  computed: {
    ...mapGetters({
      user: "user"
    })
  },
  watch: {
    "article.url": function() {
      let regex = RegExp(
        "(https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|www\\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9]+\\.[^\\s]{2,}|www\\.[a-zA-Z0-9]+\\.[^\\s]{2,})"
      );
      if (regex.test(this.article.url)) {
        this.$bus.$emit("urlcheck", { url: this.article.url, uid: this._uid });
      }
    }
  },
  methods: {
    asave: function() {
      let reqAxios = {};
      let doc = { ...this.article };
      if (typeof doc.key === "undefined") {
        reqAxios.method = "post";
        reqAxios.url = `${process.env.DB_URL}/articles.json?auth=${this.user.data.token}`;
      } else {
        delete doc.key;
        reqAxios.method = "patch";
        reqAxios.url = `${process.env.DB_URL}/articles/${this.article.key}.json?auth=${this.user.data.token}`;
      }

      if (typeof doc.tags === "string") doc.tags = doc.tags.split(",");
      for (let i = 0; i < doc.tags.length; i++)
        doc.tags[i] = doc.tags[i].trim();

      reqAxios.data = doc;

      axios(reqAxios)
        .then(response => {
          if (!this.article.key) this.article.key = response.data.name;
          this.confirmsaved = "confirmsaved";
        })
        .then(() => {
          setTimeout(() => (this.confirmsaved = "confirmsaved end"), 500);
        })
        .catch(error => console.log(error));
    },
    adelete() {
      let reqAxios = {};
      if (typeof this.article.key === "undefined") {
        this.$bus.$emit("delete", this.article);
      } else {
        reqAxios.method = "delete";
        reqAxios.url = `${process.env.DB_URL}/articles/${this.article.key}.json?auth=${this.user.data.token}`;
        axios(reqAxios)
          .then(data => {
            this.$bus.$emit("delete", this.article);
          })
          .catch(error => console.log(error));
      }
    }
  },
  mounted() {
    this.$bus.$on("alreadyused", data => {
      if (data.uid === this._uid) {
        this.alreadyused = data.answer;
      }
    });
  }
};
</script>

<style scoped>
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 1rem;
}
.disparticles {
  padding: 1rem;
}
label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.label {
  width: 6rem;
}
input,
textarea {
  flex-grow: 2;
  border: 0;
  border-bottom: 1px solid #000;
}
.confirmsaved {
  position: absolute;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  display: none;
}

.confirmsaved.end {
  transition: all 1s ease-in-out;
  box-shadow: none;
  border-radius: 0px;
  opacity: 0;
  visibility: hidden;
}
</style>
