<template>
  <header>
    <ul>
      <li>
        <strong>Menu Admin</strong>
      </li>
      <li>
        <nuxt-link to="/admin/articles">Articles</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/facts">Facts</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/jokes">Jokes</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/admin/faq">FAQ</nuxt-link>
      </li>
    </ul>
  </header>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {}
};
</script>

<style scoped>
* {
  margin: 0;
}
a {
  color: #000;
}
.nuxt-link-exact-active {
  color: #f00;
}
header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  border-top: 1px dashed #959597;
}
li {
  padding: 0 1rem;
}
h1 {
  padding: 1rem;
}
</style>
