<template>
  <li class="article">
    <a :href="article.url">{{ article.description }}</a>
    <p>{{ article.tags }}</p>
  </li>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.article {
  width: 80%;
  text-align: left;
  border: 1px solid #fff;
}
.article:hover {
  border: 1px dashed #c0c0c0;
  cursor: pointer;
  box-sizing: border-box;
}
.article:hover > a {
  color: #f00;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #5e0005;
}
</style>
