<template>
  <section class="fact">
    <header @click="toggle()">
      <div class="fheader" ref="headertest">
        <h2>{{ fact.titre }}</h2>
        <div class="date">le {{ fact.date }} par {{ fact.auteur }}</div>
      </div>
      <div class="certometre" :style="{ height: indicHeight }"></div>
    </header>
    <article style="flex: 2" v-if="disp">
      <p>{{ fact.resume }}</p>
    </article>
    <footer v-if="disp">
      <h3>Sources :</h3>
      <ul>
        <li v-for="source in fact.sources">
          <a :href="source.url">{{ source.description }}</a>
        </li>
      </ul>
    </footer>
  </section>
</template>

<script>
export default {
  props: {
    fact: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      disp: false,
      ownHeight: 0,
      indicHeight: 0
    };
  },
  mounted() {
    this.ownHeight = this.$refs.headertest.clientHeight;
    this.indicHeight = (this.ownHeight * this.fact.flag) / 100 + "px";
  },
  methods: {
    toggle() {
      this.disp = !this.disp;
    }
  }
};
</script>

<style scoped>
.certometre {
  width: 20px;
  background: linear-gradient(red, white);
  position: static;
  top: 0;
  right: 0;
  height: 0;
  transition: height 3s ease;
  /* box-shadow: -4px 4px 4px #777; */
}
article,
footer {
  text-align: left;
  padding: 1rem;
}
h3 {
  font-size: 1rem;
  text-align: left;
}
.date {
  width: 100%;
  text-align: left;
}
.fact {
  width: 80%;
  border: 1px solid #a7a7a7;
  box-shadow: 4px 4px 4px #c0c0c0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
  text-align: left;
}

header {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  align-items: flex-end;
}

.fheader {
  background-color: #fff;
  /*border-radius: 10px 10px 0 0;*/
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 20px);
}

p {
  text-align: justify;
}
</style>
