<template>
  <li class="faq">
    <p><strong>Q</strong> {{ faq.question }}</p>
    <p><strong>A</strong> {{ faq.answer }}</p>
    <p>{{ faq.tags }}</p>
  </li>
</template>

<script>
export default {
  props: {
    faq: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.faq {
  width: 80%;
  text-align: left;
  border: 1px solid #fff;
}
.faq:hover {
  border: 1px dashed #c0c0c0;
  cursor: pointer;
  box-sizing: border-box;
}
.faq:hover > a {
  color: #f00;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #5e0005;
}
</style>
