<template>
  <div style="width: 20%; padding: 1rem;">
    <form @submit.prevent v-if="!authenticatedUser && wannaregister === true">
      <input type="email" v-model="email" placeholder="Your email address" />
      <input type="password" v-model="password" placeholder="Your password" />
      <input
        type="password"
        v-model="registrationPassword"
        placeholder="Re-enter password"
      />
      <button @click="toggle">Login ?</button>
      <button @click="register">Register</button>
    </form>
    <form @submit.prevent v-if="!authenticatedUser && wannaregister === false">
      <input type="email" v-model="email" placeholder="Your email address" />
      <input type="password" v-model="password" placeholder="Your password" />
      <button @click="toggle">Register ?</button>
      <button @click="login">Login</button>
    </form>
    <div v-if="authenticatedUser">
      {{ authenticatedUser.email }}
      <button @click.prevent="logout">Logout</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import firebase from "firebase/app";
import "firebase/auth";

export default {
  data() {
    return {
      email: "",
      password: "",
      registrationPassword: "",
      authenticatedUser: null,
      wannaregister: false
    };
  },
  created() {
    firebase.auth().onIdTokenChanged(user => {
      this.authenticatedUser = user;
      this.$store.dispatch("fetchUser", user);
    });
  },
  mounted() {},
  methods: {
    toggle() {
      this.wannaregister = !this.wannaregister;
    },
    register() {
      if (this.password === this.registrationPassword) {
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.email, this.password)
          .catch(function(error) {
            let errorCode = error.code;
            let errorMessage = error.message;
            alert(`${errorCode} : ${errorMessage}`);
          });
      } else {
        alert("Les mots de passe ne sont pas identiques.");
      }
    },
    logout() {
      firebase.auth().signOut();
    },
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(data => {})
        .catch(function(error) {
          let errorCode = error.code;
          let errorMessage = error.message;
          alert(`${errorCode} : ${errorMessage}`);
        });
    }
  }
};
</script>
