<template>
  <div class="dispsources">
    <label>
      <span class="label">Desc. :</span>
      <input v-model="source.description" />
    </label>
    <label>
      <span class="label">URL :</span>
      <input v-model="source.url" />
    </label>
  </div>
</template>

<script>
export default {
  props: {
    source: {
      type: Object,
      required: false
    }
  }
};
</script>

<style scoped>
input {
  width: 100%;
}
label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.label {
  width: 6rem;
}
input {
  flex-grow: 2;
  border: 0;
  border-bottom: 1px solid #000;
}
.dispsources {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
</style>
