<template>
  <li class="joke">
    <p>{{ joke.text }}</p>
    <p>{{ joke.tags }}</p>
  </li>
</template>

<script>
export default {
  props: {
    joke: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.joke {
  width: 80%;
  text-align: left;
  border: 1px solid #fff;
}
.joke:hover {
  border: 1px dashed #c0c0c0;
  cursor: pointer;
  box-sizing: border-box;
}
.joke:hover > a {
  color: #f00;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #5e0005;
}
</style>
