<template>
  <div class="item-medium">Medium {{ medium.title }}</div>
</template>

<script>
export default {
  props: {
    medium: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.item-medium {
  border: 1px solid #000;
  box-shadow: 5px 5px 5px #c0c0c0;
  margin-bottom: 1rem;
  width: 80%;
  padding: 1rem;
}
</style>
