<template>
  <select v-model="article.lang" style="align-self: self-start">
    <option value="FR">FR</option>
    <option value="EN">EN</option>
    <option value="ES">ES</option>
    <option value="DE">DE</option>
    <option value="NL">NL</option>
  </select>
</template>
