<template>
  <header>
    <img src="~/static/logo.png" style="height: 5rem;" />
    <ul>
      <li>
        <nuxt-link to="/" exact>Home</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/articles">Articles</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/facts">Facts</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/jokes">Jokes</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/meditwitt">Medium/Twitter</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/faq">FAQ</nuxt-link>
      </li>
      <li>
        <router-link to="/admin">admin</router-link>
      </li>
    </ul>
  </header>
</template>

<style scoped>
* {
  margin: 0;
}
a {
  color: #000;
}
.nuxt-link-exact-active,
.nuxt-link-active {
  color: #f00;
}
header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
li {
  padding: 1rem;
}
h1 {
  padding: 1rem;
}
</style>
