<template>
  <div>
    <div class="header">
      <div class="headerflex">
        <TheHeader style="flex-grow: 2;" />
        <sfc />
      </div>
      <AdminHeader v-if="user.loggedIn" />
    </div>
    <nuxt />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TheHeader from "~/components/TheHeader";
import AdminHeader from "~/components/AdminHeader";
import sfc from "~/components/firebase-auth";

export default {
  components: { TheHeader, sfc, AdminHeader },
  computed: {
    ...mapGetters({
      user: "user"
    })
  }
};
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.headerflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header {
  box-shadow: 0 0 10px #c0c0c0;
  margin-bottom: 2rem;
}
</style>
