<template>
  <div class="main">
    <div class="half">
      <header>
        <h2>Medium agrégation</h2>
      </header>
      <section class="section-medium">
        <medium
          v-for="medpub in medium"
          :medium="medpub"
          :key="medpub.pubDate"
        />
      </section>
    </div>
    <div class="half">
      <header>
        <h2>Twitter agrégation</h2>
      </header>
      <section class="section-twitter">
        <twitter v-for="tweet in twitter" :tweet="tweet" :key="tweet.pubDate" />
      </section>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import medium from "~/components/medium";
import twitter from "~/components/twitter";

export default {
  components: {
    medium,
    twitter
  },
  async asyncData() {
    let twitter = await axios.get(
      "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Ftwitrss.me%2Ftwitter_user_to_rss%2F%3Fuser%3Dintchain"
    );
    let medium = await axios.get(
      "https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2Fint-chain"
    );
    return {
      medium: medium.data.items,
      twitter: twitter.data.items
    };
  }
};
</script>

<style scoped>
.half {
  width: 50%;
}
.section-medium,
.section-twitter {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main {
  display: flex;
  flex-flow: row;
}
h2 {
  padding: 1rem;
  text-align: center;
}
</style>
